<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="re-motion Dependencies" value="https://nuget.re-motion.org/nuget/re-motion-debug/" />
    <add key="re-motion Infrastructure" value="https://nuget.re-motion.org/nuget/re-motion-infrastructure/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <packageSource key="re-motion Dependencies">
    <package pattern="Remotion.*" />
  </packageSource>
  <packageSourceMapping>
    <packageSource key="re-motion Infrastructure">
      <package pattern="DependDB.*" />
      <package pattern="Remotion.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>