<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="re-motion Debug-Builds on MyGet.org" value="https://www.myget.org/F/re-motion-debug/" />
    <add key="re-motion Infrastructure on MyGet.org" value="https://www.myget.org/F/re-motion-infrastructure/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>