<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="remotion.data.domainObjects" type="Remotion.Data.DomainObjects.Configuration.DomainObjectsConfiguration, Remotion.Data.DomainObjects">
      <section name="storage" type="Remotion.Data.DomainObjects.Persistence.Configuration.StorageConfiguration, Remotion.Data.DomainObjects" />
    </sectionGroup>
  </configSections>

  <remotion.data.domainObjects xmlns="http://www.re-motion.org/Data/DomainObjects/Configuration/2.1">
    <storage defaultProviderDefinition="Default">
      <providerDefinitions>
        <add type="Remotion.Data.DomainObjects::Persistence.Rdbms.RdbmsProviderDefinition" name="Default" factoryType="Remotion.Data.DomainObjects::Persistence.Rdbms.SqlServer.Sql2005.SqlStorageObjectFactory" connectionString="DefaultConnection" />
      </providerDefinitions>
    </storage>
  </remotion.data.domainObjects>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Integrated Security=SSPI;Initial Catalog=TestDatabase;Data Source=localhost" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>